/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body{
    width:80%;
    margin:auto;
    background-image: url("./images/landscape-g1001c4be6_1920.jpg");
}
.choose_menu{
    /* border:1px solid rgb(75, 7, 7); */
    border-radius: 10px;
    /* background-color: #f3f5ce; */
    background-color: transparent;
    padding:30px;
    margin-top: 50px;
    padding:50px;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 2px 2px 5px black; */
    width:100%;
}
.fighter{
    width:220px;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    cursor:pointer;
}
#which_player{
    /* border:1px solid red; */
    padding:20px;
    font-size: 1.3em;
}
.name{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.6em;
    font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
}
#conan, #merlin, #robin{
    /* border:1px solid yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:20px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    background-color : hsl(137, 81%, 8%);
    color:rgb(243, 247, 199);
} 
.img_container{
    width:100%;
    height:180px;
    /* border:1px solid green; */
}
img{
    width: 100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}
.specifications{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
}
.spe{
    display: flex;
    justify-content: space-between;
    font-size:1.15em;
    margin-bottom:5px;
}
.arena_container{
    width:100%;
    display: flex;
    border:1px solid rgb(75, 7, 7);
    /* background-color: #efedf2; */
    border-radius:10px;
    margin-bottom:50px;
    margin-top:50px;
    background-image: url("./images/castle-g681c0714a_1920.jpg");
}
#arena_1, #arena_2{
    display: flex;
    padding:20px;
    width:50%;
    height:800px;
    /* border:1px solid green; */
}
#player_one, #player_two{
    width:100%;
    /* border:1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose_buttons{
    width:100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-top: 50px;
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1.8em;
}
.choice{
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    /* border:1px solid rgb(75, 7, 7); */
    /* background-color: #f4f5c9; */
    background-color: transparent;
    border-radius:5px;
    align-items: center;
    padding: 10px 15px;
    /* box-shadow: 2px 2px 3px black; */
}
.choice > input {
    cursor:pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}
.choice > span {
    background-color:rgb(54, 34, 21);
    color:rgb(243, 247, 199);
    padding: 10px 25px;
    border-radius: 10px;
}
.choice > span, label {
    font-size: 1.3em;
}
.choice > label {
    padding:10px;
    /* background-color:rgb(235, 202, 180); */
    background-color: rgb(54, 34, 21);
    color:rgb(243, 247, 199);
    border-radius:5px;
    font-weight: bold;
}
.isDead, .isVictorious{
    width:100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top:50px;
}
.victory {
    font-size: 1.8em;
    color:rgb(20, 221, 20);
    text-shadow: 1px 1px 1px black;
    font-weight:bold;
    /* border:1px solid blue; */
}
.victory > i {
    font-size:1em;
    color:rgb(20, 221, 20);
    padding:0px 20px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.fighterDead{
    padding: 0px 15px;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px black;
    color:red;
    font-weight: bold;
}
.death > i {
    font-size:1.3em;
    color:red;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.strike_buttons{
    width:100%;
    /* border:1px solid green; */
    padding:20px 0px;;
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.ps_button, .ms_button{
    padding:10px 15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    box-shadow: 2px 2px 3px black;
    margin-bottom:20px;
}
.ps_button{
    background-color: rgb(94, 7, 7);
    color:white;
}
.ms_button{
    background-color: rgb(9, 29, 95);
    color:white;
    margin-top: 20px;
}
.heal_button{
    width:100%;
    /* border:1px solid green; */
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    color: rgb(24, 131, 24);
}
.heal_button > i {
    text-shadow: 1px 1px 1px black;
    cursor:pointer;
}

.delete_button_container{
    padding: 30px;
    margin-bottom: 30px;
    width: 100%;
    /* border:1px solid green; */
    display: flex;
    justify-content: center;
}
#delete{
    font-size: 1.2em;
    padding:10px 20px;
    background-color:rgb(235, 202, 180);
    border-radius:5px;
    border:none;
    cursor:pointer;
    box-shadow: 2px 2px 3px black;
    transform:scale(1);
    transition:500ms;
}
#delete:hover{
    transform:scale(1.2);
}
@media screen and (max-width: 1250px){
    body {
        width:90%;
    }
}
@media screen and (max-width:1080px){
    .choice{
        width:40%;
        text-align: center;
    }
    .choose_buttons{
        justify-content: space-between;
    }
}
@media screen and (max-width:900px) {
    body{
        width:95%;
    }
    .choose_menu{
        padding: 15px;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:726px) {
    .fighter{
        margin-top:30px;
    }
    .choose_menu{
        padding-bottom:45px;
    }
    .spe{
        font-weight:bold;
    }
}
@media screen and (max-width:550px) {
    .choose_buttons{
        flex-direction: column;
        align-items: center;
    }
    .choice:nth-child(1){
        margin-bottom:30px;
    }
    .choice{
        width:100%;
    }
}
@media screen and (max-width:500px){
    .fighter{
        width:250px;
    }
    .choose_buttons{
        padding-bottom:unset;
    }
    .arena_container{
        flex-direction: column;
        align-items: center;
    }
    #arena_1, #arena_2{
        width:100%;
    }
    .fighterInArena{
        display: flex;
        width:75%;
    }
    .fighterDead, .victory{
        font-size: 1.3em;
    }
}
@media screen and (max-width:400px) {
    .fighterDead, .victory{
        font-size: 1em;
    }
    .fighterInArena{
        display: flex;
        width:90%;
    }
}
